.container-big-card {
    width: 400px;
    height: 435px;
    margin: 0 1rem;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.big-card-photo, img {
    width: 100%;
}

.big-card-title > h1 {
    margin: 1rem .5rem;
    font-size: 2rem;
}

.big-card-description {
    margin: 0 .5rem;
}

.big-card-description > p > a {
    color: #7D7D7D;
}